services:
  broker:
    build: ./broker
    container_name: broker
    ports:
      - "1884:1883"   # External port 1884 -> internal 1883
      - "9001:9001"
    environment:
      - PYTHONUNBUFFERED=1
    tty: true
    restart: always
    cpus: 0.25

  controller:
    build: ./controller
    container_name: controller
    depends_on:
      - broker
    environment:
      - MQTT_HOST=broker
      - PYTHONUNBUFFERED=1
    tty: true
    restart: always
    cpus: 0.25

  miner1:
    build: ./client1
    container_name: Miner1
    depends_on:
      - broker
    environment:
      - MQTT_HOST=broker
      - MINER_NAME=Miner1
      - PYTHONUNBUFFERED=1
    tty: true
    restart: always
    cpus: 0.25

  miner2:
    build: ./client2
    container_name: Miner2
    depends_on:
      - broker
    environment:
      - MQTT_HOST=broker
      - MINER_NAME=Miner2
      - PYTHONUNBUFFERED=1
    tty: true
    restart: always
    cpus: 0.25

networks:
  default:
    driver: bridge

